@import "reset.css";
@import "nav-bar.css";
@import "components/screen-header.css";
@import "friends.css";
@import "user-component.css";
@import "badge.css";
@import "find.css";
@import "icon-row.css";
@import "more.css";
@import "no-mobile.css";
body {
    color: #2e363e;
    font-family: "open Sans", sans-serif;
    
}
.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 28px;
    font-weight: 600;
}
.screen-header__icons span {
    margin-left : 25px;
}
.status_bar {
    display: flex;
    justify-content: center;
}
.status-bar__column {
    width: 33%;

}
.status-bar__column:first-child span {
    margin-right:5px;
}
.status-bar__column:nth-child(2) {
    display:flex;
    justify-content: center;
}
.status-bar__column:last-child {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.status-bar__column .fa-battery-full {
    margin: 0px 5px;
}
.welcome-header {
    margin: 90px 0px;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-header__title {
    margin-bottom : 20px;
    font-size:25px;
}
.welcome-header__text {
    width: 60%;
    opacity: 0.7;
}
#login-form {
    display:flex;
    flex-direction:column;
    margin: 0px 30px;
}
#login-form input{
 padding: 15px 0px;
 border:none;
 font-size: 18px;
 border-bottom:1px solid rgb(0,0, 0, 0.3);
 margin-bottom: 25px;
 transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}
#login-form input:focus {
    border-color: yellow;
}
#login-form input[type="submit"] {
    background-color: yellow;
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;
}
#login-form a {
    text-align:center;
    text-decoration: none;
    color:inherit;
    font-size: 13px;
}
.main-screen {
    padding:0px 25px;
}